.dropdown-menu {
  --bs-dropdown-min-width: 7rem !important;
}
td .dropdown-menu {
  --bs-dropdown-min-width: fit-content !important;
}
.small-svg {
  width: 1rem;
  height: 1rem;
}
.medium-svg {
  width: 1.25rem;
  height: 1.25rem;
}
.w-2rem {
  width: 2rem !important;
}
.h-2rem {
  height: 2rem !important;
}
.h-input {
  height: 2.5rem !important;
}
.w-fit {
  width: fit-content !important;
}
.btn-hov:hover {
  background-color: #f4f4f5 !important;
}

.fs-smallest {
  font-size: 0.6rem !important;
}

.fs-075rem {
  font-size: 0.75rem !important;
}

.fs-small {
  font-size: 0.875rem !important;
}

.fs-medium {
  font-size: 1.125rem !important;
}

.fw-boldest {
  font-weight: 800 !important;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #09090b !important;

  .table-light {
    --bs-table-bg: #141415 !important;
    --bs-table-color: white !important;
  }
  .list-group {
    --bs-list-group-action-hover-color: var(--bs-light);
    --bs-list-group-action-hover-bg: #27272a;
  }
  .list-group-item.active {
    color: var(--bs-light) !important;
    background-color: #27272a !important;
  }
}
:focus {
  box-shadow: none !important;
}
.modal-open,
.modal {
  padding-right: 0 !important;
}

