:root {
  --main-hov-color: #f4f4f5;
  --main-text-color: black;
}

.dropdown-menu {
  --bs-dropdown-min-width: 7rem !important;
}
td .dropdown-menu {
  --bs-dropdown-min-width: fit-content !important;
}
.small-svg {
  width: 1rem;
  height: 1rem;
}
.medium-svg {
  width: 1.25rem;
  height: 1.25rem;
}
.w-2rem {
  width: 2rem !important;
}
.h-2rem {
  height: 2rem !important;
}
.h-input {
  height: 2.5rem !important;
}
.w-fit {
  width: fit-content !important;
}
.h-fit {
  height: fit-content !important;
}
.p-badge {
  padding: 0.125rem 0.625rem !important;
}

.text-theme-color {
  color: var(--main-text-color) !important;
}

.table-head td,
.bg-hov-color,
.btn-hov:hover,
.btn-hov:active,
.btn-hov.active {
  background-color: var(--main-hov-color) !important;
  color: var(--main-text-color) !important;
}

.close-btn {
  background-color: transparent !important;
}

.close-btn:hover {
  background-color: rgb(0 0 0 / 10%) !important;
}

.fs-smallest {
  font-size: 0.6rem !important;
}

.fs-075rem {
  font-size: 0.75rem !important;
}

.fs-small {
  font-size: 0.875rem !important;
}

.fs-medium {
  font-size: 1.125rem !important;
}

.fw-boldest {
  font-weight: 800 !important;
}

[data-bs-theme="dark"] {
  --main-hov-color: #27272a;
  --main-text-color: white;
  --bs-body-bg: #09090b !important;
  --bs-border-color: var(--main-hov-color) !important;

  .svg-fill {
    stroke: white !important;
  }

  .table-head td {
    background-color: #141415 !important;
  }

  .close-btn:hover {
    background-color: rgb(255 255 255 / 10%) !important;
  }

  .btn-danger {
    --bs-btn-bg: #7f1d1d !important;
    --bs-btn-hover-bg: #7f1d1de6 !important;
    --bs-btn-active-bg: #7f1d1de6 !important;
    --bs-btn-disabled-bg: #7f1d1d !important;
  }
}
:focus {
  box-shadow: none !important;
}
.modal-open,
.modal {
  padding-right: 0 !important;
}

.btn:disabled {
  background-color: #9c9c9c !important;
}

@media print {
  @page {
    margin: 0;
  }
}
